@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url(https://fonts.googleapis.com/css?family=Pacifico);
.wrap {
    display: flex;
    justify-content: center;
}
.title {
    display: block;
    font-family: 'Pacifico';
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    line-height: 1.4;
    color: var(--text-color);
}

.container {
    background-color: var(--white);
    border-radius: 4px;
    position: absolute;
    width: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.isDesktop{
    width: 500px;
    top: 50%;
    .title{
        text-align: left;
        margin: 12px 24px;
    }
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.input {
    display: block;
    line-height: 1.4;
    font-size: 1.4rem;
    padding: 8px 16px;
    margin: 8px 16px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
}
.btn {
    margin: 24px 16px;
}
.error-message{
    font-size: 1rem;
    color: var(--primary);
    text-align: left;
    margin-left: 25px;
    margin-top: -8px;
    margin-bottom: -8px;
    user-select: none;
}
.user_sellect{
    user-select: none;
}