@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url(https://fonts.googleapis.com/css?family=Pacifico);

.wrap {
    height: 100vh;
    position: relative;
    width: 100%;
}
.backgroundShadow {
    background-color: rgba($color: #000000, $alpha: 0.2);
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .plug-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 600px;
        background-color: rgba($color: #fff, $alpha: 0.2);
        border-radius: 15px;
    }
}
.heading {
    line-height: 1.4;
    color: var(--text-color);
    text-align: left;
    display: flex;
    align-items: center;
    .title {
        padding: 40px 40px 0px 40px;
        font-family: 'Pacifico';
        font-weight: 600;
        font-size: 3rem;
        text-align: left;
        user-select: none;
    }
    .btn-connect {
        height: 40px;
        margin-left: auto;
        margin-right: 20px;
    }
}
.container {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.content {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 6px solid var(--white);
    border-radius: 4px;
    cursor: pointer;
}
.content-wrapper {
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    justify-content: center;
    padding: 48px 16px;
    margin: 8px 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 12%);
}

.top {
    display: flex;
}
.wrap-tab {
    width: 50%;
    margin: 8px 16px;
}
.tab-text {
    margin-left: 20px;
    font-size: 1.8rem;
}
.top-form-sellect {
    width: 150px;
    height: 40px;
    margin-right: 40px;
    margin-left: auto;
}
.content-title {
    font-weight: 500;
    line-height: 1.2;
    margin-left: 20px;
}
.form-table {
    color: var(--white);
    background-color: rgba($color: #fff, $alpha: 0.2);
    text-align: center;
    tr {
        line-height: 4rem;
    }
}
.cell {
    margin: 8px 16px;
    display: flex;
    flex-direction: column;
    padding: 24px 16px 24px 24px;
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 12%);
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
.cell-title {
    display: block;
    padding: 8px 16px;
}

.parameter {
    padding: 8px 16px;
}

.line-chart {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.line-chart-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.round-chart {
    position: absolute;
}
