.wrapper {
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 8px 8px;
    border-bottom: 2px solid #3c91e6;
    border-radius: 4px;
}
.container {
    padding: 8px 0;
    display: flex;
    text-align: center;

    align-items: center;
}
.logo {
    font-size: 6rem;
    color: #3c91e6;
}
.title {
    color: #3c91e6;
    margin-left: 16px;
}
