.wrap {
    background-color: var(--white);
    width: var(--width-sidebar);
    height: fit-content;
    padding-bottom: 48px;
    z-index: 2000;
    transition: 0.3s ease;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.checked {
    width: 70px;
}
.container {
    text-align: center;
}
.svg-inline {
    overflow: visible;
}
// homepage
