:not(.isDesktop).wrap {
    display: none;
    background-color: var(--white);
    position: absolute;
    top: calc(var(--default-layout-header-height) + 4px);
    left: 8px;
    z-index: 12;
    .checked{
    display: block;
    }
}
:not(.isDesktop).checked{
    display: block;
}
.isDesktop{
    background-color: var(--white);
    width: var(--width-sidebar);
    min-width: var(--width-sidebar);
    height: fit-content;
    padding-bottom: 48px;
    z-index: 10;
    transition: 0.3s ease;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.isDesktop.checked {
    width: 70px;
    min-width: 70px;
}
.container {
    text-align: center;
}
.svg-inline {
    overflow: visible;
}
// homepage
