.container {
    width: 80%;
    margin: 0 auto;
    display: table;
    border-radius: 4px;
    margin-bottom: 100px;

    table {
        color: var(--text-color);
        tbody {
            display: block;
            height: 400px;
            overflow: auto;
        }
        thead {
            color: var(--text-color);
            background-color: #3c91e6;
        }
        .first {
            vertical-align: middle;
            td {
                padding-left: 12px;
                font-weight: 600;
            }
        }
    }
}
tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

.header {
    text-align: center;
    margin-bottom: 40px;
    h1 {
        color: var(--text-color);
    }
    .primary {
        color: var(--primary);
    }
}
