.container {
    width: 80%;
    margin: 0 auto;
    display: table;
    border-radius: 4px;
    margin-bottom: 50px;

    table {
        color: var(--text-color);
        tbody {
            display: block;
            max-height: 400px;
            overflow: overlay;
        }
        thead {
            color: var(--text-color);
            background-color: #3c91e6;
            vertical-align: center;
            text-align: center;
        }
        .first {
            vertical-align: middle;
            td {
                vertical-align: center;
                text-align: center;
                font-weight: 600;
            }
            tr {
                border-bottom: 1px solid #ccc;
            }
            :last-child {
                border-bottom: none;
            }
        }
    }
}
.dark {
    background-color: rgba($color: #ccc, $alpha: 0.2);
    position: absolute;
    width: 100%;
    top: -50px;
    height: 100vh;
}
tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

.header {
    text-align: center;
    margin-bottom: 40px;
    h1 {
        color: var(--text-color);
    }
    .primary {
        color: var(--primary);
    }
}
html *::-webkit-scrollbar {
    display: none;
    width: 8px;
}
