.wrapper {
    --search-border-radius: 92px;
    --search-height: 56px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    height: var(--default-layout-header-height, 56px);
    padding: 0 24px;
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 12%);
    display: flex;
    // justify-content: right;
    border-bottom: 2px solid var(--white);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 8;
    &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -40px;
        left: 0;
        border-radius: 50%;
        box-shadow: -20px -20px 0 var(--white);
    }
}

.logo-link {
    display: flex;
    font-size: 2.6rem;
    cursor: pointer;
}

// Action
.actions {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: var(--text-color);
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}
.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
