@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #f9f9f9;
    --text-color: #f9f9f9;
    --width: 330px;
    // --background-color: #ebebeb;
    --text-color-menu: #f9f9f9;
    --background-color: #3c2299;
    --font-family: 'Poppins', sans-serif;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --width-sidebar: 280px;
    --maxWidth-sidebar: 260px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: hidden;
    background-color: var(--background-color);
    background-image: url('../../assets/images/hero-g-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}
button {
    color: var(--text-color);
}
li {
    list-style: none;
}

// Custom tippy tooltip
// body {
//     .tippy-box {
//         border-radius: 8px;
//         font-weight: 600;
//         font-size: 1.6rem;
//         line-height: 2.2rem;
//         background-color: rgba(84, 84, 84, 0.92);
//     }

//     .tippy-arrow {
//         color: rgba(84, 84, 84, 0.92);
//     }

//     .tippy-content {
//         padding: 8px 9px;
//     }

//     .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
//         top: -8px;
//     }
// }
