.wrapper {
    width: 1200px;
    background-color: var(--white);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 9999;
    border: 2px solid var(--background-color);
    box-shadow: 6px 6px 6px -6px #0e1119;
}
.btn {
    padding: 8px 16px;
    background-color: var(--background-color);
    position: absolute;
    right: 0;
    border-radius: 4px;
    cursor: pointer;
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 4000;
}
