.wrapper {
    display: flex;
}
.wrapper-content {
    flex: 1;
    transition: 0.3s ease;
}

.container {
    background-color: transparent;
    min-height: 100vh;
    overflow-y: overlay;
}
